.emailRow {
    margin: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    z-index: 999;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow-options {
    display: flex;
}

.emailRow-message {
    flex: 0.8;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.emailRow-message h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.emailRow-title {
    flex: 0.3;
    font-size: 14px;
}

.emailRow-time {
    font-size: 10px;
    font-weight: bold;
    padding-right: 15px;
}

.emailRow-description {
    font-weight: 400;
    color: gray;
}