.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid #e6e6e6;
    padding-right: 10px;
    margin-left: 7px;
}

.emailList-settingsLeft {
    display: flex;
    align-items: center;
}

.emailList-settingsRight {
    display: flex;
    align-items: center;
}

.emailList-sections {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}